/* le site, tout html */
a{
    text-decoration: none;
    color : black;
}




/*La page d'accueil*/

body{
    background-color: #F6DD67;
}

#accueil{
    margin: 250px;
   
    display: flex;
    flex-direction: row;
}

#titres{
    padding-left:50px;
}

